version: '3.9'

services:
  minecraft:
    build:
      context: .
    container_name: "minecraft"
    volumes:
      - ./data:/data:rw
      - ./config.json:/config/config.json:ro
      - minecraft_versions:/opt/minecraft
    ports:
      - "25565:25565"
      - "8123:8123"
    networks:
      - minecraft
    stdin_open: true
    tty: true
    restart: always

networks:
  minecraft:
    name: minecraft   

volumes:
  minecraft_versions: